.titlePseudo
    position: absolute
    font-size: 100px
    color: #e0e0e0
    z-index: -1
    font-family: Days One
    top: -50px
    left: -130px
    opacity: .4
    text-transform: uppercase
    &--container
        position: relative