.filter-col
    .category,
    .price
        .wpf_item 
            & > label 
                display: none
    .filter_wrapper 
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
        background: #fff
        .filter_title, .widget_block h3
            font-family: Gilroy
            background: #F44336
            color: #fff 
            font-size: 20px
            font-weight: 700
            padding-left: 20px
            padding-top: 8px
            padding-bottom: 9px
        .filter__inner
            .inpack_submit
                padding: 9px 28px 
                width: auto
                background: #7CBF65
                border-radius: 5px 
                line-height: 1.1
                display: inline-block
                font-size: 16px
                min-width: auto
            .filter__titleWrapper
                cursor: pointer
            &.active 
                .filter__title
                    &::after 
                        transform: translateY(-50%) rotate(180deg)
            ul.filterGroup
                padding: 10px 
                padding-top: 10px 
                padding-bottom: 28px 
                background: #FAFAFA
                border-radius: 5px
                margin-top: 10px 
                li 
                    color: #000 
                    position: relative
                    padding-left: 26px 
                    margin-bottom: 10px 
                    cursor: pointer
                    &:last-child
                        margin-bottom: 0
                    &::before 
                        content: ""
                        position: absolute
                        width: 15px 
                        height: 15px 
                        border: 1px solid #C4C4C4
                        border-radius: 3px 
                        left: 0
                        top: 4px
                    &.active 
                        &::before 
                            background: #34A853
                            border-color: #34A853
                        &::after 
                            content: ""
                            position: absolute
                            top: 8px 
                            left: 1px 
                            width: 13px 
                            height: 8px
                            background-image: url('../assets/img/filter_checkbox_tick.svg')
@media(max-width: 768px)
    .filter-col
        & > .filter_wrapper 
            display: none
        .filters
            overflow: hidden
            position: fixed 
            top: 36px
            left: -100%
            z-index: 99999
            transition: .3s 
            width: 280px 
            .filter_wrapper 
                padding-bottom: 33px
            .filter_title 
                position: relative
                padding-left: 38px 
                font-size: 18px 
                padding-top: 8px 
                margin-bottom: 0
                padding-bottom: 7px 
                &::before 
                    content: "" 
                    position: absolute
                    background-image: url('../assets/img/mobile_filter_white_arrow.svg')
                    width: 7px
                    height: 14px 
                    background-size: contain
                    background-repeat: no-repeat
                    left: 17.5px 
                    top: 12px
            .filter__inner  
                padding: 0
                .filter__title
                    position: relative
                    border-bottom: 1px solid #E0E0E0
                    padding-left: 17px
                    padding-top: 13px 
                    padding-bottom: 12px 
                    width: 100%
                    margin-bottom: 0
                    font-weight: 500
                    font-size: 16px 
                    line-height: 1.4
                    &::after 
                        position: absolute
                        height: 12px 
                        width: 14px 
                        right: 21px 
                        transform: translateY( -50% ) rotate( -90deg )
                .inpack_submit
                    margin-bottom: 0
                    line-height: 1.4 
                    margin-top: 30px 
                    width: calc( 100% - 56px )
                    margin-right: auto
                    margin-left: auto
                    padding-top: 11px 
                    padding-bottom: 11px 
                    display: block 
                    background: #E30613
                    border-radius: 10px 
            &.opened 
                left: 0
                .filter__inner.active
                    .filterGroup
                        display: block !important
                        position: absolute
                        top: 30px
                        left: 0
                        right: 0
                        border-radius: 0
                        bottom: 0
                        z-index: 111