body.error404
    background-color: #E30613
    margin: 0
    padding: 0

.tape_one
    position: absolute
    top: 0
    left: 0
    z-index: 1

.tape_two
    position: absolute
    left: 0
    top: 0
    z-index: -1

.square_1
    position: absolute
    top: 158px
    left: 2px

.square_2
    position: absolute
    top: 141px
    left: 33px

.square_3
    position: absolute
    top: 125px
    left: 63px

.square_4
    position: absolute
    top: 108px
    left: 92px

.square_5
    position: absolute
    top: -37px
    left: 321px

.square_6
    position: absolute
    left: 286px
    top: -18px

.square_7
    position: absolute
    top: 3px
    left: 253px

.square_8
    position: absolute
    top: 23px
    left: 221px

.square_9
    position: absolute
    top: 42px
    left: 189px

.square_10
    position: absolute
    left: 0
    top: 258px
    z-index: 2

.square_11
    position: absolute
    z-index: 2
    top: 231px
    left: 4px

.square_12
    position: absolute
    z-index: 2
    top: 199px
    left: 30px

.square_13
    position: absolute
    z-index: 2
    top: 168px
    left: 57px

.square_14
    position: absolute
    z-index: 2
    top: 136px
    left: 81px

.square_15
    position: absolute
    z-index: 2
    top: 102px
    left: 107px

.square_16
    position: absolute
    z-index: 2
    top: 71px
    left: 131px

.square_17
    position: absolute
    z-index: 2
    top: 40px
    left: 158px

.square_18
    position: absolute
    z-index: 2
    top: 4px
    left: 184px

.square_19
    position: absolute
    z-index: 2
    top: -31px
    left: 210px

.tape_three
    position: absolute
    bottom: 0px
    right: 0px

.tape_four
    position: absolute
    right: 0
    bottom: 0px

.square_20
    position: absolute
    bottom: -10px
    right: 229px

.square_21
    position: absolute
    bottom: -10px
    right: 208px

.square_22
    position: absolute
    bottom: -2px
    right: 186px

.square_23
    position: absolute
    bottom: 21px
    right: 163px

.square_24
    position: absolute
    bottom: 44px
    right: 140px

.square_25
    position: absolute
    bottom: 67px
    right: 117px

.square_26
    position: absolute
    bottom: 92px
    right: 93px

.square_27
    position: absolute
    bottom: 115px
    right: 69px

.square_28
    position: absolute
    bottom: 140px
    right: 46px

.square_29
    position: absolute
    bottom: 165px
    right: 22px

.square_30
    position: absolute
    bottom: 186px
    right: 0px

.square_31
    position: absolute
    bottom: -10px
    right: 190px

.square_32
    position: absolute
    bottom: -10px
    right: 162px

.square_33
    position: absolute
    bottom: -2px
    right: 133px

.square_34
    position: absolute
    bottom: 15px
    right: 104px

.square_35
    position: absolute
    bottom: 33px
    right: 76px

.square_36
    position: absolute
    bottom: 50px
    right: 48px

.square_37
    position: absolute
    bottom: 67px
    right: 20px

.square_38
    position: absolute
    bottom: 83px
    right: -7px

.square_39
    position: absolute

.square_40
    position: absolute

.round_1
    position: absolute
    right: 1328px
    top: 165px

.round_2
    position: absolute
    right: 1185px
    top: 450px

.round_3
    position: absolute
    right: 1280px
    top: 520px

.round_4
    position: absolute
    right: 152px
    top: 100px
   
.round_5
    position: absolute
    right: 135px
    top: 200px

.round_6
    position: absolute
    right: 80px
    top: 440px

.round_7
    position: absolute
    right: 200px
    top: 530px

.plate_1
    position: absolute
    right: 469px
    top: 35px

.plate_2
    position: absolute
    right: 486px
    top: 49px

.letter_1
    position: absolute
    right: 880px
    top: 105px

.letter_2
    position: absolute
    right: 820px
    top: 101px

.letter_3
    position: absolute
    right: 760px
    top: 97px

.letter_4
    position: absolute
    right: 700px
    top: 92px

.letter_5
    position: absolute
    right: 640px
    top: 89px

.number_1
    position: absolute
    right: 900px
    top: 195px

.number_2
    position: absolute
    right: 720px
    top: 179px

.number_3
    position: absolute
    right: 540px
    top: 167px

.handle_1
    position: absolute
    right: 772px
    top: 402px
    z-index: -2

.handle_2
    position: absolute
    right: 772px
    top: 402px
    z-index: -1

.handle_3
    position: absolute
    right: 772px
    top: 462px

.hand_1
    position: absolute
    right: 751px
    top: 471px

.hand_2
    position: absolute
    right: 751px
    top: 472px

.hand_3
    position: absolute
    right: 752px
    top: 471px

.hand_4
    position: absolute
    right: 770px
    top: 498px

.hand_5
    position: absolute
    right: 759px
    top: 499px

.hand_6
    position: absolute
    right: 762px
    top: 525px

.hand_7
    position: absolute
    right: 762px
    top: 527px

.hand_8
    position: absolute
    right: 761px
    top: 549px

.hand_9
    position: absolute
    right: 761px
    top: 551px

.hand_10
    position: absolute
    right: 690px
    top: 441px
    z-index: -1

.hand_11
    position: absolute
    right: 692px
    top: 656px

.hand_12
    position: absolute

.hole_1
    position: absolute
    top: 628px
    z-index: -2
    right: 471px

.hole_2
    position: absolute
    top: 628px
    right: 471px
    z-index: -2

.starBig_1
    position: absolute
    right: 16.94%
    top: 53.58%

.starBig_2
    position: absolute
    right: 16.16%
    top: 56.09%

.starBig_3
    position: absolute
    right: 17.61%
    top: 56.41%

.starBig_4
    position: absolute
    right: 17.82%
    top: 54.91%
