.aboutPage
    margin-top: -35px
    &__title
        color: #E30613
        font-family: "Days One"
        margin-bottom: 66px
        z-index: 5
        margin-left: -5px
    &__content
        &Inner
            margin-bottom: 117px
            padding-right: 75px
            p
                font-size: 18px
        &Wrapper    
            max-width: 1440px
            position: relative
            padding-top: 66px
            margin-right: auto
            margin-left: auto
            z-index: 1
    &__Image
        &Wrapper
            img
                margin-top: 11px
                width: 100%
                max-width: 486px