.add_to_cart_popup_wrapper
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: #E30613
    width: 100%
    max-width: 564px
    height: 528px
    z-index: 999
    padding-top: 122px
    padding-left: 71px
    padding-right: 71px
    transition: opacity .3s
    .add_to_cart_popup
        h2 
            color: #FAFAFA
            margin-bottom: 83px
        .buttons 
            display: flex
            justify-content: space-between
            a 
                display: inline-block
                position: relative
                color: #FAFAFA
                font-size: 20px 
                font-weight: 600
                &::after 
                    position: absolute 
                    content: ""
                    border-bottom: 2px dashed #FFFFFF
                    width: 100%
                    height: 2px
                    bottom: -9px
                    left: 0 
.open-popup 
    .add_to_cart_popup_wrapper
        opacity: 1 !important
@media(max-width: 768px )
    .add_to_cart_popup_wrapper
        padding-left: 13px 
        padding-right: 32px 
        padding-top: 78px 
        padding-bottom: 137px 
        height: auto
        max-width: 340px 
        .add_to_cart_popup
            max-width: 275px 
            margin-left: auto 
            h2 
                font-size: 24px 
                margin-bottom: 35px 
                padding-left: 29px 
                padding-right: 5px 
            .buttons 
                a
                    font-size: 14px 
                    line-height: 1.45
                    &::after 
                        bottom: -2px 
