.best_products
    .container
        max-width: 1130px 
        padding-right: 50px
        padding-left: 50px
        &.block_title_container
            max-width: 1252px 
            padding-right: 50px 
            padding-left: 50px
            position: relative
            margin-bottom: -91px
            z-index: -1
            margin-top: 78px
            .background_block_title
                font-size: 100px 
                color: #E0E0E0
                font-family: Days One
                text-transform: uppercase
                opacity: .4
                margin-bottom: 100px
                +max-screen(768px)
                    margin-bottom: 18px
            .block_title
                color: #E30613
                position: absolute
                top: 68px 
                font-family: Days One
                +max-screen(768px)
                margin-left: 28px
        .woocommerce
            .products
                margin-bottom: 0
                display: flex 
                flex-wrap: wrap
        .button_wrapper
            text-align: center
            margin-top: 33px
            margin-bottom: 112px
            .button        
                padding: 21px 86.5px 
            +max-screen(768px)
                .button
                    font-size: 14px 
                    padding: 15.5px 70.5px
                    border-radius: 10px
                    font-family: Montserrat
