.features 
    margin-top: 100px
    margin-bottom: 120px
    &__title 
        color: #333333
        font-weight: 700
        max-width: 734px
        p
            margin-bottom: 88px
        h2
            margin-bottom: 21px
    &__subtitle 
        font-weight: 500
        font-size: 24px
        color: #4F4F4F
        margin-bottom: 82px
        max-width: 620px
    &__item  
        margin-bottom: 30px
        padding-left: 10px
        padding-right: 10px

    &__icon 
        background: white
        width: 100px
        height: 100px
        border-radius: 50%
        padding: 25px 25px
        margin-right: 16px
        @media only screen and (max-width: 576px)
            margin-bottom: 20px
    &__content 
        color: white
        font-weight: 500
    &Item__wrapper
        @media only screen and (min-width: 576px)
            margin-left: -20px
            margin-right: -20px  
    &__itemInner
        display: flex
        height: 100%
        background: #E30613
        padding: 50px 15px
        border-radius: 20px
        align-items: center
        @media only screen and (max-width: 576px)
            flex-direction: column
            align-items: center

