.hero
    background-repeat: no-repeat
    background-size: cover
    padding: 50px 0px 
    align-items: center
    display: flex
    position: relative
    height: 100vh
    min-height: 810px
    margin-top: 0
    background: linear-gradient(to right, #E30613, 50%, white 50%)
    @media only screen and (max-width: 1024px)
        justify-content: center
    &Content__wrapper
        color: white
    &__title
        color: #FAFAFA
    &__content
        max-width: 620px
        font-weight: 500
        font-size: 24px
        line-height: 1.4
        margin-bottom: 62px
        @media only screen and (max-width: 768px)
            font-size: 14px
        @media only screen and (max-width: 991px)
            max-width: 100%
    &__background
        position: absolute
        height: 746px
        top: 42px
        right: 0
        width: 760px
    &__wrapper
        @media only screen and (max-width: 991px)
            margin: 0
    &__button
        background: white
        color: #E30613


