.partners 
    margin-bottom: 80px
    position: relative
    &__title
        color: #E30613
        margin-bottom: 70px
    .slider
        &_item_wrapper 
            background: white
            box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2)
            border-radius: 16px
            padding-top: 25px
            padding-bottom: 25px
            text-align: center
            height: 100px !important
            margin-right: 20px
        &_wrapper
            justify-content: center


    .slick-initialized .slick-slide 
        text-align: -webkit-center

    .slick-prev 
        border-bottom: 2px solid black !important
        border-left: 2px solid #000 !important
        transform: rotateZ(45deg) !important

    .slick-next 
        border-bottom: 2px solid black !important
        border-left: 2px solid #000 !important
        transform: rotateZ(225deg) !important
    .partners__content__wrapper
        max-width: 1440px
        position: relative
        padding-top: 57px
        margin-right: auto
        margin-left: auto
.slider_itemImg
    width: 144px
    height: 46px
